
// Clear Fix
@mixin clearFix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

// Linear-Gradient Background Image
@mixin bg-image($bgimg, $pos) {
    background-image: linear-gradient(to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url(../img/#{$bgimg}.jpg);
    background-size: cover;
    background-position: $pos;
}

// Positioning center with transform property
@mixin center-positioning {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}