*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

::-webkit-scrollbar {
    width: .7rem;
    height: .7rem;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, $color-primary-light 10%, $color-primary-dark 100%);
    border-radius: 20px;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}